<a href="https://colab.research.google.com/github/adityayadav4507/20-Days-of-stats-prob/blob/main/9_Day_t_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from scipy.stats import t

t_values= -1.25
df=24 # n-1 is the degree of freedom

# calculate cdf value

cdf_value=t.cdf(t_values,df)
print(cdf_value)

0.1116757390828102

In [12]:
import numpy as np
import pandas as pd

df=pd.read_csv('/content/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
population = df['Age'].dropna()

sample=population.sample(25)
sample.values

array([29. , 21. ,  7. , 31. , 18. , 55.5, 16. , 50. , 60. , 24. , 28. ,
       42. , 18. , 48. , 42. , 45. , 21. , 27. , 28. , 18. , 21. , 28. ,
       43. , 33. , 60. ])

In [14]:
# H0 : mean=35
# H1 : mean > 35

# 1. check normalilty using shapiro-wilk test

from scipy.stats import shapiro

shapiro_age=shapiro(sample.values)
print(shapiro_age)

ShapiroResult(statistic=np.float64(0.941379120400852), pvalue=np.float64(0.1592897170642411))

In [15]:
# p-value > 0.05 it is normlly dist

import scipy.stats as stats

t , p_value = stats.ttest_1samp(sample,35) # this give 2 tail p_value

print("t= ",t)
print("p_value= ",p_value/2) # our alternative hypo is one tail

t=  -0.838612539754887
p_value=  0.20498093643685766

In [16]:
alpha=0.05
if p_value/2 < alpha:
  print("Reject Null Hypothesis")
else:
  print("Accept Null Hypothesis")

Accept Null Hypothesis

In [17]:
population.mean()

np.float64(29.69911764705882)

# 2. Independent 2 sample test

In [18]:
pop_male=df[df['Sex']=='male']['Age'].dropna()
pop_female=df[df['Sex']=='female']['Age'].dropna()

sample_male=pop_male.sample(100)
sample_female=pop_female.sample(100)

alpha=0.05

In [19]:
# H0 : mean_male = mean_femal
# H1 : mean_male > mean_femal

# 1. check normalilty using shapiro-wilk test

from scipy.stats import shapiro

shapiro_male=shapiro(sample_male.values)
shapiro_female=shapiro(sample_female.values)
print(shapiro_male)
print(shapiro_male)

ShapiroResult(statistic=np.float64(0.9806540803361354), pvalue=np.float64(0.14943370777719645))
ShapiroResult(statistic=np.float64(0.9806540803361354), pvalue=np.float64(0.14943370777719645))

In [20]:
# 2. equal varience test

from scipy.stats import levene

levene_test=levene(sample_male,sample_female)
print(levene_test)

# pvalue> 0.05 equal vairnce

LeveneResult(statistic=np.float64(1.211981875617222), pvalue=np.float64(0.272276526285777))

In [21]:
# t find

import scipy.stats as stats

t , p_value=stats.ttest_ind(sample_male,sample_female)

print("t= ",t)
print("p_value= ",p_value)

t=  0.3939124698996499
p_value=  0.6940695528790197

In [22]:
alpha=0.05

if p_value < alpha:
  print("Reject Null Hypothesis")
else:
  print("Accept Null Hypothesis")

Accept Null Hypothesis

In [23]:
pop_male.mean()

np.float64(30.72664459161148)

In [24]:
pop_female.mean() # significantly greater nahi h

np.float64(27.915708812260537)